{% extends "base.html" %}

{% block title %}Inventario{% endblock %}

{% block content %}
<h2 class="my-4">Inventario</h2>
<a class="btn btn-success mb-3" href="{{ url_for('agregar') }}">Agregar Producto</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
            <td>
                <a class="btn btn-info btn-sm" href="{{ url_for('actualizar', id=producto[0]) }}">Actualizar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}